[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://test.pypi.org/simple/"
verify_ssl = true
name = "testpypi"

[packages]
pytest = "*"
build = "*"
twine = "*"
pytest-mock = "*"
argparse = "*"

[dev-packages]

[requires]
python_version = "3"
